.card {
  margin-top: 1rem;
}
.state-alivrer {
  color:rgb(206, 31, 8);
}
.state-encours {
  color:rgb(50, 15, 204);
}
.state-livree {
  color:rgb(5, 66, 19);
}
.material-icons {
  color:rgb(206, 31, 8);
  cursor: pointer;
}

